#container {
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: column;
}

#header {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin: 1%;
    padding: 2%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
}

#header-img {
    max-width: 100%;
    height: auto;
}

.Logo {
    max-width: 20%;
    margin-right: 30%;
}

#nav-bar {
    justify-items: center;
    align-content: center;
    width: 100%;
    margin-right: 1%;
}

.nav-link {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    display: flex;
}

li {
    color: transparent;
    margin-right: 15%;
}

#hero {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin: 13% 5% 5% 5%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #FFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.second-container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin: 1%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 25% 70%;
    margin-bottom: 5%;
}

.icon {
    display: flex;
    justify-content: center;
}

#video {
    margin-bottom: 10%;
    border-radius: 15px;
}

#Pricing {
    display: flex;
}

.product {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin: 1%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 313px;
}

.product-header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    border-radius: 15px;
    justify-content: stretch;
    align-self: stretch;
    margin-bottom: 5%;
    padding: 5%;
}

.container-product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-left: 4%;
}

.product-list {
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.product-list-text {
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

#price {
    color: black;
}

.btn {
    width: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    padding: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: yellow;
    border-color: transparent;
    border-radius: 15px;
    font-weight: 900;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email {
    width: 200px;
    margin-bottom: 5%;
    padding: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 15px;
    text-align: center;
}

footer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin: 0% 5% 5% 5%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#important-information {
    color: #FF0000;
}

#footer-information {
    color: #ffffff;
    font-size: small;
}

@media (min-height: 500px) {
    #background-cocacola {
        background-image: url("Images/CocaCola-Background-1280x720.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: auto;
    }
}

@media (min-height: 700px) {
    #background-cocacola {
        background-image: url("Images/CocaCola-Background-1600x900.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: auto;
    }
}

@media (min-height: 800px) {
    #background-cocacola {
        background-image: url("Images/CocaCola-Background-1920x1080.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: auto;
    }
}